config/.config/hypr/machine.conf
config/.config/autostart
config/.config/btop
config/.config/byobu
config/.config/dconf
config/.config/gtk-3.0
config/.config/htop
config/.config/nvim_backup
config/.config/nwg-look
config/.config/pulse
